<h1 mat-dialog-title>Ajouter un nouveau objectif</h1>

<form class="example-form mb-5">
    <mat-form-field class="example-full-width">
    <mat-label>Titre</mat-label>
      <input matInput value="">
    </mat-form-field>
    <p>
    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
    
  <mat-form-field class="example-form-field">
  <mat-label>Deadline</mat-label>
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start"
    [comparisonEnd]="campaignTwo.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>



 
  <mat-chip-listbox aria-label="Fish selection" class="mb-4">
    <mat-chip-option> priorité élevée</mat-chip-option>
    <mat-chip-option>priorité moyenne</mat-chip-option>
    <mat-chip-option style="margin-right: 25px;"> priorité basse</mat-chip-option>
  </mat-chip-listbox>

  <button mat-button mat-dialog-close style="background-color: #22b3c1;"> <mat-icon>save</mat-icon> enregistrer </button>

  </form>


