<h1 mat-dialog-title>Ajouter un nouveau objectif</h1>
<input type="hidden" name="userName" [(ngModel)]="userName">
<input type="hidden" name="status" [(ngModel)]="status">

<form #f="ngForm" class="example-form mb-5">
    <mat-form-field class="example-full-width">
    <mat-label>Titre</mat-label>
      <input matInput value="" name="title" [(ngModel)]="o.title">
    </mat-form-field>
    <p>
    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="o.description" name="description"></textarea>
      </mat-form-field>
    </p>
    
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matEndDate placeholder="Start date" name="startDate" [(ngModel)]="o.startDate">
        <input matStartDate placeholder="End date" name="endDate" [(ngModel)]="o.endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  
  <mat-chip-listbox aria-label="Fish selection" class="mb-4" name="pirorite" [(ngModel)]="o.pirorite">
    <mat-chip-option>  Primaire</mat-chip-option>
    <mat-chip-option>Moyenne </mat-chip-option>
    <mat-chip-option style="margin-right: 25px;">  Basses</mat-chip-option>
  </mat-chip-listbox>

  <button mat-button mat-dialog-close style="background-color: #22b3c1;" (click)="createObjectif(f.value)"> <mat-icon>save</mat-icon> enregistrer </button>

  </form>


