<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h4>Expansion des Marchés & Préstation de service</h4>
            <h2>Découverte des Marchés et préstation de service</h2>
            <div class="border-button"><a href="home">Découvrez plus</a></div>
          </div>
      </div>
    </div>
  </div>

  <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="submit" role="search" action="#">
            <div class="row">
              <div class="col-lg-2">
                <h4>Trier ces marchés par :</h4>
              </div>
              <div class="col-lg-4">
                  <fieldset>
                    <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onChange="this.form.click()">
                        <option selected>Catégories</option>
                        <option value="technologie">Technologie</option>
                        <option value="agroalimentaire">Agroalimentaire</option>
                        <option value="services">Services</option>
                        <option value="industrie">Industrie</option>
                    </select>
                  </fieldset>
              </div>
              <div class="col-lg-4">
                  <fieldset>
                    <select name="Distance" class="form-select" aria-label="Default select example" id="chooseDistance" onChange="this.form.click()">
                        <option selected>Proximité géographique</option>
                        <option value="1">Moins de 100 mètres</option>
                        <option value="2">100 mètres - 500 mètres</option>
                        <option value="3">500 mètres - 1 km</option>
                        <option value="4">1 km - 5 km</option>
                        <option value="5">Plus de 5 km</option>
                    </select>
                    
                  </fieldset>
              </div>
              <div class="col-lg-2">                        
                  <fieldset>
                      <button class="border-button">chercher</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="450px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px;" allowfullscreen=""></iframe>
          </div>

          <div class="amazing-deals">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-heading text-center">
                            <h2>Offres de Services B2B de la Semaine</h2>
                            <p>Explorez les dernières offres de services dans différentes villes.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="assets/images/deals-01.jpg" alt="Offre de Service 1">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content">
                                        <span class="info">*Offre Limitée au premieum</span>
                                        <h4>Services Informatiques :</h4>
                                        <div class="row">
                                            <div class="col-6">
                                                <i class="fa fa-globe"></i>
                                                <span class="list">Développement de logiciels</span>
                                               
                                               
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-phone"></i>
                                                <span class="list">Services de maintenance informatique</span>
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-globe"></i>
                                                <span class="list">Conception de site web</span>
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-envelope"></i>
                                                <span class="list">Abonnement premieum Populaire</span>
                                            </div>
                                        </div>
                                        <p>Découvrez nos services informatiques de qualité .</p>
                                        <div class="main-button">
                                            <a routerLink="/abonnement">Faire une Réservation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="assets/images/deals-02.jpg" alt="Offre de Service 2">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content">
                                        <span class="info">*Offre Limitée au Premium</span>
                                        <h4>Services Marketing et Publicité :</h4>
                                        <div class="row">
                                            <div class="col-6">
                                                <i class="fa fa-globe"></i>
                                                <span class="list">Agences de marketing numérique</span>
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-phone"></i>
                                                <span class="list">Agences de publicité</span>
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-globe"></i>
                                                <span class="list">Gestionnaires de médias sociaux</span>
                                            </div>
                                            <div class="col-6">
                                                <i class="fa fa-envelope"></i>
                                                <span class="list">Abonnement premieum débutant</span>
                                            </div>
                                        </div>
                                        <p>Optimisez votre marketing et publicité avec nos services de qualité.</p>
                                        <div class="main-button">
                                            <a routerLink="/abonnement">Faire une Réservation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vous pouvez ajouter plus d'offres de services ici en suivant la même structure -->
                    <div class="col-lg-12">
                        <ul class="page-numbers">
                            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Vous cherchez des Services B2B de Qualité ?</h2>
                        <h4>Faites une Réservation en Cliquant sur le Bouton</h4>
                    </div>
                    <div class="col-lg-4">
                        <div class="border-button">
                            <a href="reservation.html">Réservez dès maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        