<!-- @TODO: Move away from custom props before injecting the polyfill, as it can't handle it -->
<app-header></app-header>
<header>

	<div>
	  <h1>Vos candidatures</h1>
	  <p>👇 Défilez en bas.</p>
	</div>
  </header>

<!-- This is an example component -->
<div class="flex h-screen">
  <div class="m-auto">
    <div class="bg-white rounded-lg border-gray-300 border p-3 shadow-lg">
      <div class="flex flex-row">
        <div class="px-2">
          <svg width="24" height="24" viewBox="0 0 1792 1792" fill="#44C997" xmlns="http://www.w3.org/2000/svg">
            <path d="M1299 813l-422 422q-19 19-45 19t-45-19l-294-294q-19-19-19-45t19-45l102-102q19-19 45-19t45 19l147 147 275-275q19-19 45-19t45 19l102 102q19 19 19 45t-19 45zm141 83q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
            </svg>
        </div>
        <div class="ml-2 mr-6">
          <span class="font-semibold">Successfully Saved!</span>
          <span class="block text-gray-500">Anyone with a link can now view this file</span>
        </div>
      </div>
    </div>
  </div>
</div>


 <h1>{{message}}</h1>

  <main>
<ul id="cards">
  <li class="card" *ngFor="let demande of demandes">
    <div class="card__content">
      <div>
        <h2>{{ demande.nom }}</h2>
		<p>{{ demande.siteWeb}}</p>
		<p>{{ demande.adresse}}</p>
		<p>{{ demande.dure}}</p>
		<p>{{ demande.budget }}</p>
		<p>{{ demande.typePart }}</p>

        <!-- Autres données de demande ici -->
        <p><a routerLink="/document" class="btn btn--accent" (click)="deleteDemande(demande.id)">Supprimer</a></p>
      </div>
	  <figure>
		<img src="./assets/images/partenaire.png" alt="Image description">
	  </figure>
     
    </div>
  </li>
</ul>

<ul id="cards">
  <li class="card" *ngFor="let recruteur of recruteurs">
    <div class="card__content">
      <div>
        <h2>{{ recruteur.nom }}</h2>
		<p>{{ recruteur.prenom}}</p>
        <p>{{ recruteur.email }}</p>
		<p>{{ recruteur.telephone }}</p>
		<p>{{ recruteur.dure}}</p>
		<p>{{ recruteur.typeRec }}</p>
		
	
        <!-- Autres données de recruteur ici -->
		<p><a routerLink="/document" class="btn btn--accent" (click)="deleteRecruteur(recruteur.idR)">Supprimer</a></p>
      </div>
	  <figure>
		<img src="./assets/images/recruteur.jpg" alt="Image description">
	  </figure>
    </div>
  </li>
</ul>

<app-footer></app-footer>