<!-- @TODO: Move away from custom props before injecting the polyfill, as it can't handle it -->
<app-header></app-header>
<input type="checkbox" id="debug" />

<header>
	<div>
		<h1>Vos candidature</h1>
		<p>👇 Défilez en bas.</p>
	</div>
</header>
<main>
	<ul id="cards">
		<li class="card" id="card_1">
			<div class="card__content">
				<div>
					<h2>Candidature 1</h2>
					<p>Les infos de la candidature avec l'image de la sociéte que vous avez matcher avec</p>
					<p><a href="#top" class="btn btn--accent">Supprimer</a></p>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-1.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_2">
			<div class="card__content">
				<div>
					<h2>Candidature 2</h2>
					<p>Les infos de la candidature avec l'image de la sociéte que vous avez matcher avec</p>
					<p><a href="#top" class="btn btn--accent">Supprimer</a></p>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_3">
			<div class="card__content">
				<div>
					<h2>Candidature 3</h2>
					<p>Les infos de la candidature avec l'image de la sociéte que vous avez matcher avec</p>
					<p><a href="#top" class="btn btn--accent">Supprimer</a></p>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-3.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_4">
			<div class="card__content">
				<div>
					<h2>Candidature 4</h2>
					<p>Les infos de la candidature avec l'image de la sociéte que vous avez matcher avec</p>
					<p><a href="#top" class="btn btn--accent">Supprimer</a></p>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
	</ul>
</main>

<app-footer></app-footer>