<h1 mat-dialog-title>Modifier ton objectid</h1>

<form #f="ngForm" class="example-form mb-5">

  

  <mat-chip-listbox aria-label="Fish selection" class="mb-4" id="status" name="status" [(ngModel)]="objectif.status" >
    <mat-chip-option>InProgress</mat-chip-option>
    <mat-chip-option>Done</mat-chip-option>
    <mat-chip-option style="margin-right: 25px;"> Waiting</mat-chip-option>
  </mat-chip-listbox>


  
  <button (click)="updateObjectif(f.value)" mat-dialog-close style="background-color: #22b3c1;"> <mat-icon>save</mat-icon> enregistrer </button>

  </form>

  


