<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user?.userName}}</span><span class="text-black-50">{{user?.userEmail}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Paramètres du Profil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="{{ user?.userLastName }}" value=""></div>
                    <div class="col-md-6"><label class="labels">Prénom</label><input type="text" class="form-control" value="" placeholder="{{ user?.userFirstName }}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">ID Email</label><input type="text" class="form-control" placeholder="{{user?.userEmail}}" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Pays</label><input type="text" class="form-control" placeholder="pays" value=""></div>
                    <div class="col-md-6"><label class="labels">État/Région</label><input type="text" class="form-control" value="" placeholder="état"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Enregistrer le Profil</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience" (click)="openDialog('0ms', '0ms')"><span>Changer le Mot de Passe </span><span class="border px-3 p-1 add-experience"><i class="fas fa-edit"></i>&nbsp;Modifier</span></div><br>
            </div>
            <div class="p-3 py-0">
                <div class="d-flex justify-content-between align-items-center experience"><span>Modifier l'Expérience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Expérience</span></div><br>
                <div class="col-md-12"><label class="labels">Expérience en Design</label><input type="text" class="form-control" placeholder="expérience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Détails Supplémentaires</label><input type="text" class="form-control" placeholder="détails supplémentaires" value=""></div>
            </div>
        </div>
    </div>
</div>
