<app-header></app-header>
<section id="pricing" class="pricing-content section-padding">
	<div class="container">
		<div class="section-title text-center">
			<h1>Offres Premium</h1>
			<p>Découvrez nos offres Premium pour bénéficier d'avantages exclusifs.</p>
		</div>
		<div class="row text-center">
			<div class="col-lg-6 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="single-pricing">
					<div class="price-head">
						<h2>Offre de Démarrage</h2>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<h1 class="price">$0</h1> <br>
					<h5>Gratuit</h5>
					<ul>
						<li>Accès aux offres gratuits</li>
						<li>Avec cette version vous pouvez bénificier de la version gratuite</li>
					</ul>
					<a routerLink="/sinscrire">Commencer</a>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-6 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="single-pricing single-pricing-white">
					<div class="price-head">
						<h2>Offre Avancée</h2>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<span class="price-label">Meilleur choix</span>
					<h1 class="price">$69</h1><br>
					<h5>Mensuel</h5>
					<ul>
						<li>Accès illimité aux offres Premium</li>
						<li>Des formation gratuites dans tous les domaines</li>
						<li>Notification immédiate des nouvelles offres</li>
						<li>Consultation exclusive des offres</li>
						<li>Support prioritaire</li>
					</ul>
					<a (click)="pay()">Commencer</a>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
<app-footer></app-footer>
