<<<<<<< Updated upstream
=======
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

>>>>>>> Stashed changes
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
