<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container forget-password mt-5" >
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://i.ibb.co/rshckyB/car-key.png" alt="clé de voiture">
                        <h2 class="text-center">Mot de passe oublié ?</h2>
                        <p>Vous pouvez réinitialiser votre mot de passe ici.</p>
                    </div>
                    <form *ngIf="!receiveCode" ngSubmit="ResetPassword()" id="register-form" role="form" autocomplete="off" class="form" method="post">
                        <div class="form-group">
                            <div  class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="userEmail"   placeholder="Adresse e-mail" class="form-control" type="email" id="userEmail" name="userEmail"  [(ngModel)]="user.userEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <button  (click)="resetPassword()" name="btnForget" *ngIf="!receiveCode" type="submit" class="btn btn-lg btn-primary btn-block btnForget">Réinitialiser le mot de passe</button>
                        </div>
                    </form>
                    <form *ngIf="receiveCode" ngSubmit="onResetPassword()" id="register-form" role="form" autocomplete="off" class="form" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input  id="code" name="code" placeholder="Code de vérification" class="form-control" type="text" [(ngModel)]="UserNewPassword.code">
                                </div>
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input  id="email" name="email" placeholder="votre email" class="form-control" type="text" [(ngModel)]="UserNewPassword.email">
                                </div>
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input  id="password" name="password" placeholder="nouveau mot de passe" class="form-control" type="password" [(ngModel)]="UserNewPassword.password">
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <button (click)="onResetPassword()" name="btnForget" *ngIf="receiveCode" type="submit" class="btn btn-lg btn-primary btn-block btnForget"  >changer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
